<?xml version="1.0" encoding="utf-8"?>
<configuration>


<connectionStrings><add name="dbTaskContext" connectionString="metadata=res://*/Base.BaseModel.csdl|res://*/Base.BaseModel.ssdl|res://*/Base.BaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=YUZD\SQLEXPRESS;initial catalog=taskdb;persist security info=True;user id=sa;password=p@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>