<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <!--log4Net Start-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <!--配置一个结点 名称为log4net-->
    <!--log4Net End-->
  </configSections>

  <log4net debug="true">

    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <!--设置发送电子邮件的附着器-->
      <authentication value="Basic" />
      <to value="412710591@qq.com,1877682825@qq.com" />
      <from value="yuzhengdong00@126.com" />
      <username value="yuzhengdong00@126.com" />
      <password value="p@ssw0rd" />
      <!--<subject value="程序异常日志记录邮件发送" />-->
      <subject type="log4net.Util.PatternString" value="[管理后台-Web]程序异常日志记录邮件发送 [%property{log4net:HostName}]" />
      <smtpHost value="smtp.126.com" />
      <!--设置日志缓存,存储到512后一起一个Email发送,如不设此项,每记一个日志,发一条Email<bufferSize value="512" />-->
      <bufferSize value="1" />
      <lossy value="true" />
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="ERROR"/>
      </evaluator>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionpattern value="%property{log4net:HostName} :: %level :: %message %newlineLogger: %logger%newlineThread: %thread%newlineDate: %date%newlineNDC: %property{NDC}%newline%newline" />
      </layout>
    </appender>

    <logger name="Loggering">
      <level value="All"/>
      <appender-ref ref="ADONetAppender"/>
    </logger>

    <root>
      <level value="info" />
      <!--<appender-ref ref="ADONetAppender" />-->
      <!--<appender-ref ref="SmtpAppender"/>-->
      <appender-ref ref="LogFileAppender"/>
      <!--
          <appender-ref ref="ColoredConsoleAppender"/>
          <appender-ref ref="EventLogAppender"/>
          <append-ref ref="NetSendAppender"/>
          <appender-ref ref="RollingFile"/>-->
    </root>

    <logger name="logemail" additivity="False">
      <level value="Error" />
      <appender-ref ref="SmtpAppender" />
    </logger>
    <logger name="AGI">
      <level value="ALL" />
    </logger>
    <logger name="logerror">
      <level value="ERROR" />
      <appender-ref ref="ErrorAppender" />
    </logger>
    <logger name="loginfo">
      <level value="INFO" />
      <appender-ref ref="InfoAppender" />
    </logger>
    <logger name="logtrace">
      <level value="INFO" />
      <appender-ref ref="TraceAppender" />
    </logger>
    <logger name="logquartnet">
      <level value="INFO" />
      <appender-ref ref="QuartNETAppender" />
    </logger>
    <logger name="loglogin">
      <level value="INFO" />
      <appender-ref ref="LoginAppender" />
    </logger>
    <logger name="logrequest">
      <level value="INFO" />
      <appender-ref ref="RequestAppender" />
    </logger>
    <logger name="logdebug">
      <level value="DEBUG" />
      <appender-ref ref="LogdebugAppender" />
    </logger>
    <logger name="logsync" >
      <level value="ALL" />
      <appender-ref ref="asyncForwarder" />
    </logger>
    <!--调用Debug日志-->
    <appender name="LogdebugAppender" type="log4net.Appender.RollingFileAppender">
      <param name="Encoding" value="UTF-8" />
      <param name="File" value="Log\\Debug\\" />
      <param name="AppendToFile" value="true" />
      <param name="StaticLogFileName" value="false" />
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;" />
      <!--为每天每一个文件-->
      <param name="RollingStyle" value="Date" />

      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%n信息时间:%d%n信息内容:%m%n" />
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>
    
    <!--调用QuartNET日志-->
    <appender name="QuartNETAppender" type="log4net.Appender.RollingFileAppender">
      <param name="Encoding" value="UTF-8" />
      <param name="File" value="Log\\QuartNET\\" />
      <param name="AppendToFile" value="true" />
      <param name="StaticLogFileName" value="false" />
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;" />
      <!--为每天每一个文件-->
      <param name="RollingStyle" value="Date" />

      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%n信息时间:%d%n信息内容:%m%n" />
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>

    <!--系统登录日志-->
    <appender name="LoginAppender" type="log4net.Appender.RollingFileAppender">
      <param name="Encoding" value="UTF-8" />
      <param name="File" value="Log\\Login\\" />
      <param name="AppendToFile" value="true" />
      <param name="StaticLogFileName" value="false" />
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;" />
      <!--为每天每一个文件-->
      <param name="RollingStyle" value="Date" />

      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%n信息时间:%d%n信息内容:%m%n" />
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>

    <!--调用请求日志-->
    <appender name="RequestAppender" type="log4net.Appender.RollingFileAppender">
      <param name="Encoding" value="UTF-8" />
      <param name="File" value="Log\\Request\\" />
      <param name="AppendToFile" value="true" />
      <param name="StaticLogFileName" value="false" />
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;" />
      <!--为每天每一个文件-->
      <param name="RollingStyle" value="Date" />

      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%n信息时间:%d%n信息内容:%m%n" />
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>

    <!--调试日志-->
    <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
      <param name="Encoding" value="UTF-8" />
      <param name="File" value="Log\\Info\\" />
      <param name="AppendToFile" value="true" />
      <param name="StaticLogFileName" value="false" />
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;" />
      <!--为每天每一个文件-->
      <param name="RollingStyle" value="Date" />

      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%n信息时间:%d%n信息内容:%m%n" />
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>
    <!--错误日志-->
    <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
      <param name="Encoding" value="UTF-8" />
      <param name="File" value="Log\\Error\\" />
      <param name="AppendToFile" value="true" />
      <param name="StaticLogFileName" value="false" />
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;" />
      <!--为每天每一个文件-->
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%n异常时间:%d%n异常内容:%m%n" />
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>
    
    
    <!--跟踪日志-->
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%m" />
      </layout>
    </appender>
    
    <appender name="AsyncAppender" type="log4net.Appender.RollingFileAppender">
      <param name="Encoding" value="UTF-8" />
      <param name="File" value="Log\\Async\\" />
      <param name="AppendToFile" value="true" />
      <param name="StaticLogFileName" value="false" />
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;" />
      <!--为每天每一个文件-->
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%n信息时间:%d%n信息内容:%m%n" />
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>

    <appender name="asyncForwarder" type="Log4Net.Async.ParallelForwardingAppender,Log4Net.Async">
      <appender-ref ref="AsyncAppender" />
    </appender>
    
  </log4net>
</configuration>